<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4 sidenav">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">検索ワード</h3>
  </div>
  <div class="panel-body">
      
    <table class="table">
	<tbody>
		<tr>
			<th>IT技術名</th>
			<td><input type="text" id="name" /></td>
		</tr>
		<tr>
			<th>ITジャンル</th>
			<td><input type="text" id="name" /></td>
		</tr>
		<tr>
			<th>属性</th>
			<td><input type="text" id="name" /></td>
		</tr>
	</tbody>
</table>
<p class="button"><input type="submit" value="検索結果へGO!"></p>
  </div>
</div>
<div class="well">
      <p>ボタン一覧</p>
      <table class="table">
	<tbody>
		<tr>
			<th>番号</th>
			<th>ボタン名</th>
			<td>該当技術に対する内容</td>
		</tr>
		<tr>
			<th>１</th>
			<th>HAVE</th>
			<td>自分が所持しており、実務で使用できる</td>
		</tr>
		<tr>
			<th>２</th>
			<th>WANT</th>
			<td>新卒でこの技術が実務使用可能な人が欲しい</td>
		</tr>
		<tr>
			<th>３</th>
			<th>instruct</th>
			<td>自主学習だけでなく、教育できる設備やその支援制度有</td>
		</tr>
		<tr>
			<th>４</th>
			<th>young</th>
			<td>実務経験5年未満の人がほしい</td>
		</tr>
		<tr>
			<th>５</th>
			<th>mainstay</th>
			<td>実務経験5年～15年未満の人がほしい</td>
		</tr>
		<tr>
			<th>６</th>
			<th>veteran</th>
			<td>実務経験15年以上の人がほしい</td>
		</tr>
		<tr>
			<th>7</th>
			<th>uninitiate</th>
			<td>実務未経験や全くの初心者歓迎</td>
		</tr>
		<tr>
			<th>8</th>
			<th>handicapped</th>
			<td>実務使用可能な障がい者を歓迎<br>(身体、知的、精神、発達、その他）のいずれか</td>
		</tr>
		<tr>
			<th>9</th>
			<th>inspection</th>
			<td>この技術を面接などで適性検査を実施することがある。</td>
		</tr>
		<tr>
			<th>10</th>
			<th>potential</th>
			<td>この技術を扱える即戦力人材を募集中</td>
		</tr>
		<tr>
			<th>11</th>
			<th>Instructor</th>
			<td>この技術を指導可能な人材を募集中</td>
		</tr>
	</tbody>
</table>
    </div>
  </div>
 

    <div class="col-sm-8">
      <h4><small>ITアイテム</small></h4>
      <hr>
      <h2>ボタンの押し方を確認の上で検索してください</h2>
      <div class="row">
    <div class="col-sm-6 col-md-4">
    	<div class="thumbnail">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      
      <div class="caption">
        <h3>Thumbnail label</h3>
       <p>Current Project</p>
       
       
        <div class="well">
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="thumbnail">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Current Project</p>
        <div class="well">
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="thumbnail">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Current Project</p>
        <div class="well">
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
      </div>
    </div>
    </div>
      
    </div>
    </div>
  </div>
</div>　
　